<li class="products__item">
    <div class="products__btns">
        {% render 'icon-heart' %}
        {% render 'icon-scales' %}
    </div>
    <a href="{{ product.url }}" class="products__link">
        {% if product.featured_image %}
            <img class="products__img" src="{{ product.featured_image | image_url: width: 448 }}" alt="{{ product.featured_image.alt }}"> 
        {% else %}
            {{ 'product-1' |  placeholder_svg_tag: 'products__img' }}
        {% endif %}
    </a>
    {% if product.compare_at_price %}
        <div class="products__offer offer">Special offer</div>
    {% endif %}
    <div class="products__info info">
        <div class="info__rating rating">
            <div class="info__stars stars">
            {{ rating.rating }}
            </div>
            <div class="info__testimonials testimonials">
                <span class="testimonials__counter">0</span>
                <span class="testimonials__txt">Client reviews</span>
            </div>
        </div>
        <h3 class="info__heading heading heading_c">
            <a href="{{ product.url }}" class="heading__link">{{ product.title }}</a>
        </h3>
        <div class="info__size">58cm (L)</div>
        <div class="info__price card-price">
            <div class="card-price__reg-price">{{ product.price | money }}</div>
            {% if product.compare_at_price %}
                <div class="card-price__old-price">{{ product.compare_at_price | money }}</div>
            {% endif %}
        </div>
        <div class="info__btn btn btn_dark">
            <a href="" class="btn__link">
                {% render 'icon-cart' %}
            </a>
        </div>
    </div>
</li>
