{% assign bouquetSize = product.metafields.custom.size.value %}
{% assign current_var = product.selected_or_first_available_variant %}
{% assign product_rating = product.metafields.custom.product_rating %}
<li class="products__item">
    <div class="products__btns">
        <form action="/pages/wishlist" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="products__btn">
                {% render 'icon-heart' %}
            </button>
        </form>
        <form action="/pages/comparison" method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="products__btn">
                {% render 'icon-scales' %}
            </button>
        </form>
    </div>
    <a href="{{ product.url }}" class="products__link">
        {% if product.featured_image %}
            <img class="products__img" src="{{ product.featured_image | image_url: width: 448 }}" alt="{{ product.featured_image.alt }}"> 
        {% else %}
            {{ 'product-1' |  placeholder_svg_tag: 'products__img' }}
        {% endif %}
    </a>
    {% if product.compare_at_price %}
        <div class="products__offer offer">Special offer</div>
    {% endif %}
    <div class="products__info info">
        <div class="info__rating rating">
            <div class="info__stars stars">
                {% for i in (1..5) %}
                    {% assign filled_stars = i | minus: 0.5 %}
                    {% if i <= product_rating %}
                        {% render 'icon-star-filled' %}
                        {% elsif filled_stars == product_rating %}
                        {% render 'icon-star-half' %}
                      {% else %}
                        {% render 'icon-star-empty' %}
                    {% endif %}
                {% endfor %}
            </div>
            <div class="info__testimonials testimonials">
                <span class="testimonials__counter">0</span>
                <span class="testimonials__txt">Client reviews</span>
            </div>
        </div>
        <h3 class="info__heading heading heading_c">
            <a href="{{ product.url }}" class="heading__link">{{ product.title }}</a>
        </h3>
        <div class="info__size">
            {{ bouquetSize }}
            {% render 'product-size', bouquetSize: bouquetSize %}
        </div>
        <div class="info__price card-price">
            <div class="card-price__reg-price">{{ product.price | money }}</div>
            {% if product.compare_at_price %}
                <div class="card-price__old-price">{{ product.compare_at_price | money }}</div>
            {% endif %}
        </div>
        <div class="info__btn">
            {% form 'product', product %}
                <input type="hidden" name="id" value="{{ current_var.id }}">
                <button 
                    class="btn btn_dark" 
                    type="submit" 
                    name="add"
                    {% unless current_var.available %}
                        disabled
                    {% endunless %}
                >
                    {% render 'icon-cart' %}
                </button>
            {% endform %}
        </div>
    </div>
</li>
