{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="section__heading heading heading_a heading_center">{{ collection.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-lg-4 col-md-5 col-sm-6 col-xs-12">
            <div class="filter-btns">
                <div id="openFilters" class="filter-btns__item sort">
                    {% render 'icon-filter' %}
                    Filter
                </div>
                <div class="filter-btns__item sort">
                    <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="sort__link">Clear All</a>
                </div>
            </div>
            <div id="filtersWrap" class="filter-wrap">
                <form class="filter">
                    {% for filter in collection.filters %}
                        {% unless filter.param_name == 'filter.v.availability' or filter.param_name == 'filter.p.m.custom.color' %}
                            {% case filter.type %}
                                {% when 'list' %}
                                    <div class="filter__block">
                                        <h4 class="heading heading_d">{{ filter.label }}</h4>
                                        <ul class="filter-list">
                                        {% for filter_value in filter.values %}
                                            <li class="filter-list__item">
                                                <input 
                                                    type="checkbox" 
                                                    name="{{ filter.param_name }}"
                                                    value="{{ filter_value.value }}"
                                                    id="filter_{{ filter.param_name }}_{{ forloop.index }}" 
                                                    class="filter-list__checkbox" 
                                                    tabindex="-1"
                                                    {% if filter_value.active %}
                                                        checked
                                                    {% endif %}
                                                >
                                                <label 
                                                    for="filter_{{ filter.param_name }}_{{ forloop.index }}" 
                                                    class="filter-list__label"
                                                >
                                                    <span class="filter-list__icon"></span>
                                                    <span class="filter-list__txt">{{ filter_value.label }}</span>
                                                    <span class="filter-list__counter">{{ filter_value.count }}</span> 
                                                </label>
                                            </li> 
                                        {% endfor %}
                                        </ul>
                                    </div>
                                {% when 'boolean' %}
                                    <div class="filter__block">
                                        <ul class="filter-list">
                                            <li class="filter-list__item">
                                                <input 
                                                    type="checkbox" 
                                                    name="{{ filter.param_name }}" 
                                                    value="{{ filter.true_value.value }}"
                                                    id="filter_{{ filter.param_name }}_{{ forloop.index }}" 
                                                    class="filter-list__checkbox" 
                                                    tabindex="-1"
                                                    {% if filter.active_values.size > 0 %}
                                                        checked
                                                    {% endif %}
                                                >
                                                <label for="filter_{{ filter.param_name }}_{{ forloop.index }}" class="filter-list__label">
                                                    <span class="filter-list__icon"></span>
                                                    <h4 class="filter-list__txt heading heading_d">{{ filter.label }}</h4>
                                                    <span></span>
                                                    <div class="filter-list__counter">{{ filter.true_value.count }}</div>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                {% when 'price_range' %}
                                    <div class="filter__block">
                                        <h4 class="filter__heading heading heading_d">{{ filter.label }}</h4>
                                        <div class="range-slider">
                                            <div class="range-slider__values-wrap">
                                                <span class="range-slider__txt">{{ cart.currency.symbol }}</span>
                                                <span  class="range-slider__values range-slider__values_min"></span>
                                                <span class="range-slider__txt">&ndash;</span>
                                                <span class="range-slider__values range-slider__values_max"></span>
                                            </div>
                                            <input
                                                name="{{ filter.min_value.param_name }}"

                                                {% if filter.min_value.value %}
                                                    value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                                {% else %}
                                                    value="0"
                                                {% endif %}
                                                
                                                min="0" 
                                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" 
                                                step="10" 
                                                type="range"
                                                class="range-slider__range range-slider__range_min"
                                            >
                                            <input 
                                                name="{{ filter.max_value.param_name }}"

                                                {% if filter.max_value.value -%}
                                                    value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                                {% else %}
                                                value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                                                {%- endif %}

                                                min="0" 
                                                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}" 
                                                step="10" 
                                                type="range"
                                                class="range-slider__range range-slider__range_max"
                                            >
                                        </div>
                                    </div>
                            {% endcase %}
                        {% endunless %}

                        {% if filter.param_name == 'filter.p.m.custom.color' %}
                            <div class="filter__block">
                                <h4 class="heading heading_d">{{ filter.label }}</h4>
                                <ul class="filter-list">
                                    {% for filter_value in filter.values %}
                                        <li class="filter-list__item">
                                            <input 
                                                type="checkbox" 
                                                name="{{ filter.param_name }}"
                                                value="{{ filter_value.value }}"
                                                id="filter_{{ filter.param_name }}_{{ forloop }}" 
                                                class="filter-list__checkbox" 
                                                tabindex="-1"
                                                {% if filter_value.active %}
                                                    checked
                                                {% endif %}
                                            >
                                            <label 
                                                for="filter_{{ filter.param_name }}_{{ forloop }}" 
                                                class="filter-list__label"
                                            >
                                                <span class="filter-list__icon"></span>
                                                {% case filter_value.value %}
                                                    {% when 'White' %}
                                                        <span class="filter-list__color filter-list__color_white"></span>
                                                    {% when 'Pink' %}
                                                        <span class="filter-list__color filter-list__color_pink"></span>
                                                    {% when 'Red' %}
                                                        <span class="filter-list__color filter-list__color_red"></span>
                                                    {% when 'Orange' %}
                                                        <span class="filter-list__color filter-list__color_orange"></span>
                                                    {% when 'Yellow' %}
                                                        <span class="filter-list__color filter-list__color_yellow"></span>
                                                    {% when 'Green' %}
                                                        <span class="filter-list__color filter-list__color_green"></span>
                                                    {% when 'Blue' %}
                                                        <span class="filter-list__color filter-list__color_blue"></span>
                                                    {% when 'Violet' %}
                                                        <span class="filter-list__color filter-list__color_violet"></span>
                                                    {% else %}
                                                    <span class="filter-list__color filter-list__color_"></span>
                                                {% endcase %}
                                                <span class="filter-list__txt">{{ filter_value.label }}</span>
                                                <span class="filter-list__counter">{{ filter_value.count }}</span> 
                                            </label>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    {% endfor %}
                    <button type="submit" id="applyBtn" class="filter__apply-btn btn btn_dark">Apply Filters</button>
                </form>
            </div>
        </div>
        <div class="col-9 col-lg-8 col-md-7 col-sm-6 col-xs-12">
            <div class="sort-btns">
                <div class="sort-btns__item sort">
                    {% render 'icon-sort' %}
                    Sort by:
                </div>
                <div class="sort-btns__item select">
                    <select id="sortBy" class="select__list">
                        {%- for option in collection.sort_options %}
                            {% unless option.value contains 'manual' or option.value contains  'created-ascending' or option.value contains 'created-descending' %}
                                <option 
                                    class="select__option"
                                    value="{{ option.value }}"
                                    {%- if option.value == sort_by %}
                                        selected="selected"
                                    {%- endif %}
                                    >{{ option.name }}</option>
                            {% endunless %}
                        {% endfor -%}
                    </select>
                </div>
            </div>
            <ul class="products">
            {% paginate collection.products by 12 %}
                {% for product in collection.products %}
                    {% render 'product-card', product: product %}
                {% endfor %}
                </ul>
                {% render 'pagination', paginate: paginate %}
            {% endpaginate %}
        </div>
    </div>
</div>
