{% if cart.item_count > 0 %}
    <h1 class="heading heading_a">Your cart</h1>
    {% form 'cart', cart %}
        <ul class="cart-list">
        {% for item in cart.items %}
            <li class="cart-list__item product-item">
                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="product-item__remove">
                    {% render 'icon-bucket' %}
                </a>
                <a href="{{ item.url }}" class="product-item__image-wrap">
                    {% if item.image %}
                        <img 
                            src="{{ item | img_url: 'medium' }}" 
                            alt="{{ item.title | escape }}" 
                            class="product-item__image"
                        >
                    {% else %}
                        {{ 'image' |  placeholder_svg_tag: 'product-item__image' }}
                    {% endif %}
                    
                </a>
                <a href="{{ item.url }}" class="product-item__title">
                    {{ item.product.title }}
                </a>
                <div class="product-item__item">
                    <div class="product-item__qty qty">
                        <button class="qty__btn qty__btn_minus">-</button>
                        <input 
                            type="number" 
                            name="quantity" 
                            id="quantity-{{ section.id }}" value="{{ item.quantity }}" 
                            min="1" 
                            max="{{ current_var.inventory_quantity }}"
                            class="qty__input"
                        >
                        <button class="qty__btn qty__btn_plus">+</button>
                    </div>
                </div>
                <div class="product-item__item">
                    <div class="product-item__price">
                        {{ item.line_price | money }}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endform %}
    
    <div class="df">
        <a href="{{ routes.all_products_collection_url }}" class="cl">Continue Shopping</a>
    </div>
{% else %}
    <h1>Your cart is empty</h1>   
{% endif %}
<script src="/assets/cart.js"></script>
